@model GalaxyCinema.Models.DIRECTOR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DIRECTOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DIRECTORNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECTORNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DIRECTORID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
